// Content
  @mixin emptyContent {
    content: ' ';
    position: absolute;
    display: block;
  }

  @mixin hideElement {
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    display: block;
  }

  @mixin shortName {
    &:before { content: attr(data-short-name); }
    span { display: none; }


    @include breakpoint($minWidth651) {
        &:before { content: ''; }
        span { display: inline; }
    }

  }