// Sass functions

  // Handle breakpoints
    @mixin breakpoint($breakpoint, $breakpoint2: '', $breakpoint3: '') {
      @if $breakpoint3!='' {
        @media #{$breakpoint}, #{$breakpoint2}, #{$breakpoint3} { @content; }
      }
      @else if $breakpoint2!='' {
        @media #{$breakpoint}, #{$breakpoint2} { @content; }
      }
      @else {
        @media #{$breakpoint} { @content; }
      }
    }


  // Vendor prefixes
    @mixin vendorPrefix($name, $argument) {
      -webkit-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
      -moz-#{$name}: #{$argument};
      -o-#{$name}: #{$argument};
      #{$name}: #{$argument};
    }

