// Play icon
  %playIcon {
    margin-top: -$playIconWidth;
    margin-left: -($playIconWidth / 2);
    border-top: $playIconWidth solid transparent;
    border-bottom: $playIconWidth solid transparent;
    border-left: ($playIconWidth + ($playIconWidth / 2)) solid $playIconColor;
  }