// Transitions
  @mixin transitionBG($t: 0.3s) { transition: background ease $t; }
  @mixin transitionColor($t: 0.3s) { transition: color ease $t; }
  @mixin transitionOpacity($t: 0.3s) { transition: opacity ease $t; }

  @mixin transitionColorBorder($t1: 0.3s, $t2: 0.3s) { transition: color ease $t1, border-color ease $t2; }

  @mixin transitionBGColorBorder($t1: 0.3s, $t2: 0.3s, $t3: 0.3s) {
    will-change: background, border-color, color;
    transition: background ease $t1, color ease $t2, border-color ease $t3;
  }