// Footer
  #footer {
    width: 100%;
    height: $footerHeight;
    background: $footerBG;
    position: relative;
    padding: 0 $sectionPadding;
    color: $footerColor;
    display: table;
    box-sizing: border-box;
    z-index: 10;

      p {
        text-align: right;
        font-size: 1.2em;
        vertical-align: middle;
        display: table-cell;
      }

      a {
        color: inherit;

          &:hover, &:focus {
            color: inherit;
            border-bottom-color: inherit;
          }
      }
  }