// Heading
  #content {
    position: relative;

      h1 {
        min-height: 3.8em;
        padding: 0.5em 0 0.5em 3.8em;
        margin-bottom: 1.0em;
        box-sizing: border-box;
        border-bottom: 1px solid $dividerColor;
      }

      & > .img {
        width: 6.0em;
        position: absolute;
        top: -0.3em;
        left: 0;
        margin: 0;
        overflow: hidden;
        border-radius: 36.0em;
        border: 2px solid $artistImgColor;

          img {
            width: 100%;
            display: block;
          }
      }

  }