// Hide the site if the content's too small
  @include breakpoint($maxWidth249) {

    body:before {
      content: 'Sorry, the site can\'t display at this size. \A\APlease re-size your window.';
      font-size: 2.0em;
      padding: 1.5em;
      display: block;
    }

    #container { display: none; }
  }


// Main body
  body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: $defaultColor;
  }

  #container, #wrapper-container {
    width: 100%;
    height: 100%;
  }

  #wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin-bottom: -$footerHeight;
    padding: $sectionPadding;
    box-sizing: border-box;

      &:after {
        content: '';
        height: $footerHeight;
        display: block;
      }
  }


// Common elements
  h1 {
    margin-bottom: 0.2em;
    font-size: 2.8em;
    color: $titleColor;
  }

  p {
    margin-bottom: 0.8em;
    font-size: $textSize;
  }

  ul { list-style: none; }
  li {
    margin-bottom: 0.5em;
    font-size: 1.4em;

      p { font-size: 1.0em; }
  }

  a {
    color: $linkColor;
    border-bottom: 1px solid transparent;
    @include transitionColorBorder;
    cursor: pointer;

      &:hover, &:focus {
        color: $linkHoverColor;
        border-bottom-color: $linkHoverColor;
      }
  }