// CTAs
    .cta {
      text-align: center;
      font-size: $ctaFontSize;

        a {
          background: transparent;
          position: relative;
          padding: 0.5em 1.0em 0.6em 1.0em;
          text-align: center;
          font-size: 1.0em;
          color: $ctaBG;
          font-weight: 600;
          border-radius: $ctaBorderSize;
          border: 2px solid $ctaBG;
          display: inline-block;
          box-sizing: border-box;
          overflow: hidden;
          cursor: pointer;
          vertical-align: bottom;
          @include transitionBGColorBorder;

            &:hover, &:focus {
              color: $ctaTextColor;
              background: $ctaBG;
              border-color: $ctaBG;
            }
        }

    }