// Loading indicator
  .loading {
    min-height: 2.0em;
    background: url(../img/loading.gif) no-repeat;
    margin: 2.0em auto;
    padding-top: 0.4em;
    padding-left: 2.5em;
    font-size: $textSize;
    font-style: italic;
  }