// Messages
  .message {
    background: $messageBGColor;
    margin: $messagePadding auto $sectionVerticalMargin auto;
    padding: 0.8em $sectionSidePadding $sectionSidePadding $sectionSidePadding;
    font-size: $bodyTextSize;
    border: 1px solid $messageInnerBorderColor;
    outline: 1px solid $messageBorderColor;
    box-sizing: border-box;

      &.error {
        min-height: 2.8em;
        background: $messageErrorBG;
        position: relative;
        margin-bottom: 1.0em;
        padding-left: 3.5em;
        color: $messageErrorColor;
        font-weight: 600;
        font-style: italic;
        border-color: $messageErrorInnerBorderColor;
        outline-color: $messageErrorBorderColor;

          &:before {
            @include emptyContent;
            content: 'x';
            top: 0.15em;
            left: 0.9em;
            font-size: 1.5em;
            font-style: normal;
            color: $messageErrorIconColor;
            z-index: 5;
          }

          &:after {
            width: 2.0em;
            height: 2.0em;
            background: $messageErrorIconBG;
            @include emptyContent;
            top: 0.5em;
            left: 0.8em;
            border-radius: 36.0em;
          }
      }

      .cta { margin-top: 1.0em; }
  }