// Sidebar
  #sidebar {
    margin-top: $sectionVerticalMargin;
    padding-top: $sectionVerticalMargin;
    border-top: 1px solid $tracklistingBorder;

      ul { margin-top: 1.0em; }

      li {
        min-height: $relatedImgWidth;
        position: relative;
        padding-top: $relatedImgSpacingMobile;
        padding-left: $relatedImgWidth + 15px;
        cursor: pointer;
      }

      img {
        width: $relatedImgWidth;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 36.0em;
        border: 2px solid $tracklistingBorder;
      }
  }

  #content {

      @include breakpoint($minWidth801) {
          #main-content {
            width: 70%;
            float: left;
          }

          #sidebar {
            width: 20%;
            float: right;
            margin-top: 0;
            padding-top: 0;
            border-top: none;
          }

      }

  }