// Tracklisting
  #tracklist {
    width: 100%;
    list-style: none;
    position: relative;
    right: $sectionPadding;
    margin-top: $sectionVerticalMargin;
    margin-bottom: 3.0em;
    padding: 0 $sectionPadding;
    counter-reset: stylised-counter;
    border-top: 1px solid $tracklistingBorder;

      li {
        width: 100%;
        height: $trackImgSizeMobile - ($trackVerticalPadding * 2);
        background: $tracklistingBG;
        position: relative;
        right: $sectionPadding;
        margin: 0;
        padding: $trackVerticalPadding $sectionPadding;
        border-bottom: 1px solid $tracklistingBorder;
        @include transitionBG;
        cursor: pointer;

          &:before {
            width: $trackNumberWidth;
            height: $trackNumberWidth;
            background: $trackNumberBG;
            padding-top: 0.3em;
            position: absolute;
            top: $trackVerticalPadding;
            left: $trackVerticalPadding;
            text-align: center;
            color: $trackNumberColor;
            font-weight: 600;
            content: counter(stylised-counter);
            counter-increment: stylised-counter;
            border-radius: 36.0em;
            display: block;
            box-sizing: border-box;
          }

          @for $i from 2 through 10 {
            $val: $i * 1%;
            &:nth-child(#{$i}):before { background: darken($trackNumberBG, $val); }
          }


          &:hover, &:focus {
            background: darken($tracklistingBG, 1.5%);

              &:not(.playing) .img {
                  &:before, &:after { opacity: 1; }
              }
          }

          &:nth-child(even) {
            background: $tracklistingZebraBG;

              &:hover, &:focus { background: darken($tracklistingZebraBG, 2%); }
          }


          &.playing {
            background: darken($tracklistingBG, 5%);

              &:nth-child(even) { background: darken($tracklistingBG, 5%); }

              .img {
                  &:before, &:after {
                    width: $stopIconWidth;
                    margin-left: -$stopIconWidth;
                    border-width: $stopIconWidth;
                    opacity: 1;
                  }
                  &:before { border-color: $playIconColor; }
                  &:after { border-color: $iconShadow; }

                  img { opacity: 0.4; }
              }
          }

      }


      .title {
        width: 65%;
        width: calc(100% - #{$trackSpacingMobile} -#{$trackImgSizeMobile});
        margin: 0;
        padding-left: 1.6em;
        font-weight: 600;
        line-height: 1.2em;
      }

      .track-name { @include shortName; }

      .album {
        margin-top: 0.2em;
        font-size: 0.8em;
        font-weight: 400;
        font-style: italic;
        line-height: 1.2em;
        display: block;
        @include shortName;
      }


      .img {
        width: $trackImgSizeMobile;
        height: 100%;
        background: darken($tracklistingBG, 55%);
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;

          &:before, &:after {
            @include emptyContent;
            top: 50%;
            left: 50%;
            @extend %playIcon;
            opacity: 0;
            @include transitionOpacity;
          }

          &:before { z-index: 10; }
          &:after {
            border-left-color: $iconShadow;
            filter: blur(0.2em);
          }


          img {
            width: 100%;
            display: block;
            opacity: 1;
            @include transitionOpacity;
          }
      }

      audio { display: none; }


      @include breakpoint($minWidth501) {
        right: 0;
        padding-right: 0;
        padding-left: 0;
        border: 1px solid $tracklistingBorder;

          li {
            height: $trackImgSizeMobile;
            right: 0;
            box-sizing: border-box;
          }
      }

  }