// Reset
  * {
    margin: 0;
    padding: 0;
    outline: none;
  }

  html { height: 100%; }
  body {
    height: 100%;
    font-size: $bodyTextSize;

      html.ua-ios & { -webkit-overflow-scrolling: touch; }
  }

  h1, h2, h3, h4, h5, p {
    widows: 3;
    orphans: 3;
  }

  a { text-decoration: none; }
  .hidden { @include hideElement; }

  ::selection {
    background-color: $selectBGColor;
    color: $selectColor;
  }

  .clearfix:after {
    clear: both;
    height: 0;
    content: ' ';
    font-size: 0;
    display: block;
  }