// Artists colors
  $tracklistingBG: #ececec;
  $tracklistingZebraBG: #f5f5f5;
  $tracklistingBorder: #e6e6e6;

  $artistImgColor: #eeeeee;

  $trackNumberBG: #d31d62;
  $trackNumberColor: #FFFFFF;

  $iconShadow: #656565;
  $playIconColor: #FFFFFF;