// Defaults
  $bodyBG: #FFFFFF;
  $defaultColor: #424242;
  $titleColor: #424242;

  $linkColor: #497890;
  $linkHoverColor: #255d7a;

  $selectBGColor: #00384c;
  $selectColor: #FFFFFF;

  $smallColor: #999999;

  $dividerColor: #d5d5d5;


// Footer
  $footerBG: #424242;
  $footerColor: #FFFFFF;