// Messages
  $messageBGColor: #fdf1bb;
  $messageInnerBorderColor: #fcf5d2;
  $messageBorderColor: #f5e69f;

  $alertLinkColor: #497890;
  $alertLinkHoverColor: #355d72;

  $messageErrorBG: #e3aaaa;
  $messageErrorColor: #302929;
  $messageErrorBorderColor: #bc8080;
  $messageErrorInnerBorderColor: #f0b8b8;
  $messageErrorIconBG: #bb4949;
  $messageErrorIconColor: #f1d0d0;