// Max widths
  $maxWidth249: 'only screen and (max-width: 249px)';


// Min widths
  $minWidth501: 'only screen and (min-width: 501px)';
  $minWidth651: 'only screen and (min-width: 651px)';
  $minWidth801: 'only screen and (min-width: 801px)';


// Specialist
  $retina: '(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)';