// Artists page
  $trackVerticalPadding: 8px;
  $trackImgSizeMobile: 80px;
  $trackSpacingMobile: 15px;
  $trackNumberWidth: 2.0em;

  $relatedImgWidth: 45px;
  $relatedImgSpacingMobile: 12px;

  $playIconWidth: 1.0em;
  $stopIconWidth: 0.8em;