// Commonly used sizes

  // Main body
    $bodyTextSize: 10px;
    $sectionPadding: 25px;
    $sectionSidePadding: 14px;
    $sectionVerticalMargin: 2.5em;


  // Common elements
    $textSize: 1.4em;
    $ctaFontSize: 16px;
    $ctaBorderSize: 0.3em;

    $ctaMargin: 1.0em;

    $messageSmallMarginBottom: 0.8em;
    $messagePadding: 0.5em;

    $errorSpacing: 50px;


// Footer
    $footerHeight: 4.0em;